
{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col s6 offset-s3">
            <h4 >{% trans %}Please Sign In{% endtrans %}<i class="icon-dices fa-4x pull-right"></i></h4>
            <div class="card horizontal blue-grey darken-1">
                <div class="card-image">
                    <img src="{{asset('images/login.jpg')}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <form action="{{ path('login_check')}}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input id="user_login" class="form-control" placeholder={% trans %}User{% endtrans %} name="_username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input id="user_pass" class="form-control" placeholder="{% trans %}Password{% endtrans %}" name="_password" type="password" value="">
                                </div>
                                {% if error_message %}
                                    <p id="login_error" class="alert_new alert-danger">{{ error_message}}</p>
                                {% endif %}
                                <div class="card-action">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}">
                                    <input type="submit" id="wp-submit" class="btn btn-lg btn-teceng btn-block" value="{% trans %}Login{% endtrans %}">

                                </div>

                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
